PORT=5001
DATABASE_URL="file:./dev.db"
JWT_SECRET="super_secret_messenger_key_2026"
NODE_ENV=development

SMTP_HOST=smtp.yandex.ru
SMTP_PORT=465
SMTP_USER=rusval96@yandex.ru               # твой полный email
SMTP_PASS=tsxpzgfhfmuzdude          # твой пароль от почты
FRONTEND_URL=http://localhost:5173

FRONTEND_URL=http://localhost:5173
# === ФРОНТЕНД ===
VITE_API_URL=http://localhost:5001
